# hammyoncoffeine.Website #
###########################
*.suo
*.userprefs
*.pidb
*.Publish.xml


# hammyoncoffeine.Website
# -----------------------
hammyoncoffeine.Website/App_Data/*.*
!hammyoncoffeine.Website/App_Data/Users.xml
!hammyoncoffeine.Website/App_Data/Settings.xml
hammyoncoffeine.Website/App_Data/cache/
hammyoncoffeine.Website/App_Data/files/
hammyoncoffeine.Website/App_Data/pages/
hammyoncoffeine.Website/App_Data/logs/

hammyoncoffeine.Website/bin/*.*

hammyoncoffeine.Website/obj/


# ignore testing for now
# ----------------------
hammyoncoffeine.Tests/


# hammyoncoffeine.Core
# --------------------
hammyoncoffeine.Core/obj/
hammyoncoffeine.Core/bin/Debug/
hammyoncoffeine.Core/bin/Release/*.*

!.gitignore


